.bt-detalhes {
    font-size: 12px;
    line-height: 38px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    max-width: 210px;
    background-color: #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0;
    outline: 0;
    width: 100%;
    &:hover {
        opacity: 0.8;
        outline: 0;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
    }
    &:focus {      
        outline: 0;
    }
}

.bt-data {
    font-size: 15px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    width: 130px;
    background-color: #333;
    border-radius: 20px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0;
    font-weight: 400;
    position: fixed;
    top: 78px;
    left: -20px;
    outline: 0;
    z-index: 997 ;
    display: none;
    &:hover {
        opacity: 0.8;
        outline: 0;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
    }
    &:focus {      
        outline: 0;
    }
}

.fechar-h {
    background: none;
    border: none;
    position: absolute;
    right: 4px;
    top: -15px;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;

    &:hover {
        opacity: 0.8;
        outline: 0;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
    }
    &:focus {      
        outline: 0;
    }
}

.fechar-menu {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: -5px;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;

    &:hover {
        opacity: 0.8;
        outline: 0;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
    }
    &:focus {      
        outline: 0;
    }
}

.bt-detalhes-branco  {
    font-size: 12px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
    color: #000;
    width: 222px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
        outline: 0;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
    }
    &:focus {      
        outline: 0;
    }
}

.bt-detalhes-green {
    cursor: pointer;
    border:none;
    font-size: 12px;
    line-height: 38px;
    font-weight: 600;
    text-align: center;
    color: var(--primary-font-color);
    width: 222px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    &:hover {
        opacity: 0.8;
        outline: 0;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
    }
    &:focus {      
        outline: 0;
    }
}

.voltar {
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    max-width: 100px;
    background-color: #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 9px 10px 8px 28px;
    text-transform: uppercase;
    position: relative;
    span {
        font-size: 28px;
        color: var(--green-400);
        position: absolute;
        left: 10px;
        top: 2px;
    }
    &:hover {
        opacity: 0.8;
        outline: 0;
        color: #fff;
        text-decoration: none;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
        color: #fff;
    }
    &:focus {      
        outline: 0;
    }
}


.voltar-b {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    max-width: 150px;
    background-color: #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px 45px 10px 55px;
    text-transform: uppercase;
    position: relative;
    font-weight: 800;

    span {
        font-size: 28px;
        color: var(--green-400);
        position: absolute;
        left: 42px;
        top: -4px;
    }
    &:hover {
        opacity: 0.8;
        outline: 0;
        color: #fff;
        text-decoration: none;
    }
    &:active {
        opacity: 0.8;
        outline: 0;
        color: #fff;
    }
    &:focus {      
        outline: 0;
    }
}