.own-report {
    --logo: url(../imgs/innoway-logo-own.svg);
    --lupa: url(../imgs/lupa-own.svg);
    --innovation-title: url(../imgs/innovation-title-own.svg);
    --infinito-score: url(../imgs/infinito-score-full-own.svg);
    --increasing: url(../imgs/increasing-own.svg);
    --grafico-coletivo: url(../imgs/grafico-coletivo.svg);
    --data: url(../imgs/data-own.svg);
    --innpedia: url(../imgs/innopedia.svg);
    --logo-name: url(../imgs/logo-name.jpeg);
    --grafico-white-81: url(../graficos/meia_pizza/81m.svg);
    --grafico-81: url(../graficos/meia_pizza_branco/81n.svg);
    --barra-grafica: url(../graficos/Barras/barras_ACATE_cinza@2x.png);
    --graphic-spider: url(../graficos/spider/aranha_ACATE_cinza@2x.png);
    --planilha-1: url(../graficos/planilha/acate_1.png);
    --planilha-2: url(../graficos/planilha/acate_2.png);
    --planilha-3: url(../graficos/Barras/acate_4.png);
    --planilha-4: url(../graficos/Barras/acate_3.png);
    --grafico-60: url(../graficos/meia_pizza/60m.svg);
    --grafico-64-meio: url(../graficos/meia_pizza/64m.svg);
    --planilha-5: url(../graficos/Barras/formacao_academica_grafico.png);
    --planilha-6: url(../graficos/pizza/acate_6.png);
    --grafico-65: url(../graficos/meia_pizza/65m.svg);
    --bullet-color: #d8702a;
    --circle: url(../imgs/circle.png);
    --primary-font-color: #F26B40;
    --pessoas-font-color: #F58B40;
    --flow-font-color: #F05F40;
    --lg-pad-left: 49px;
    --lg-pad-top: 30px;
    fill: #f58b40;
}

.partner-report {
    --logo: url(../imgs/innoway-logo-partner.svg);
    --lupa: url(../imgs/lupa-partner.svg);
    --innovation-title: url(../imgs/innovation-title-partner.svg);
    --infinito-score: url(../imgs/infinito-score-full-own.svg);
    --increasing: url(../imgs/increasing-partner.svg);
    --data: url(../imgs/data-partner.svg);
    --innpedia: url(../imgs/innopedia.svg);
    --grafico-81: url(../graficos/meia_pizza_branco/81n.svg);
    --grafico-75: url(../graficos/meia_pizza_branco/75n.svg);
    --grafico-white-81: url(../graficos/meia_pizza/81m.svg);
    --barra-grafica: url(../graficos/Barras/barras_ACATE_cinza@2x.png);
    --graphic-spider: url(../graficos/spider/aranha_ACATE_cinza@2x.png);
    --grafico-64: url(../graficos/pizza/64.svg);
    --planilha-1: url(../graficos/planilha/acate_1.png);
    --circle: url(../imgs/circle.png);
    --planilha-3: url(../graficos/Barras/acate_4.png);
    --planilha-4: url(../graficos/Barras/acate_3.png);
    --planilha-5: url(../graficos/Barras/formacao_academica_grafico.png);
    --planilha-6: url(../graficos/pizza/acate_6.png);
    --grafico-65: url(../graficos/meia_pizza/65m.svg);
    --grafico-60: url(../graficos/meia_pizza/60m.svg);
    --menu: url(../imgs/menu.png);
    --bullet-color: #AECA2C;
    --primary-font-color: #AECA2C;
    --pessoas-font-color: #AECA2C;
    --flow-font-color: #8FA720;
    --lg-pad-left: 23px;
    --lg-pad-top: 50px;
}

body {
    background: #fff;
    font-family: Montserrat, Arial, Helvetica, sans-serif, sans-serif;
}


header {

    transition:all .2s ease;
    width: 100%;
    max-width: 990px;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 999;

    .navbar {
        padding: 15px 10px;
        background: var(--black-800);
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



@media only screen and (min-width: 500px) {

.small {
    position: fixed;
    transition:all .2s ease;

 
  

    .box-header {
        padding: 5px;
        height: 45px;
    }

    .score-header {
        font-size: 20px;
        padding: 5px;
        margin: 10px 0 0 0;
        text-align: center;

        p {

            padding: 2px;
        }
        span {
            height: 24px;
            margin-top: 8px;
        }

    
    }
    .innovation-header {
        p {
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
        }
    }
    .header-content {
        img {
            max-width: 80px
        }
        background: var(--black-200) ;
    }
    

}
}


.main-header {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    height: 124px;
    background-color: #E5E5E5;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}



.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--black-800);
    padding: 20px 10px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
     border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.box-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--bullet-color);
    padding: 10px;
    height: 66px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.innovation-header {
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: normal;
    border-right: 1px solid #999999;
    padding: 5px 15px 0 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-height: 40px;
    line-height: 14px;
}

.innovation-header p {
    font-size: 15px;
    color: var(--primary-font-color);
    text-transform: uppercase;
    padding: 3px 0 0 0;
    font-weight: 600;


}

.score-header {
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    padding:10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    span {
        height: 35px;
    margin-top: 8px;
    }

}

.score-header p {
    font-size: 8px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
}

.peaple-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pessoas-font-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 0 0 0 15px;
}

.peaple-header span:nth-child(2) {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    border-right: 1px solid #999999;
    padding: 0 22px 0 14px;
}

.flow-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--flow-font-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    padding: 0 0 0 22px;
}

.flow-header span:nth-child(2) {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 0 15px 0 14px;
}

.search {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-top: 2px;
    margin: 10px 0;
    min-width: 190px
}

.field-search {
    background-color: #707070;
    color: #fff;
    border: none;
    max-width: 245px;
    height: 27px;
    padding-left: 10px;
    border-radius: 27px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    -o-border-radius: 27px;
    outline: none;
    width: 100%;
    font-size: 14px;
}

.lupa {
    background: var(--lupa);
    border: none;
    width: 12px;
    height: 12px;
    right: 15px;
    top: 10px;
    position: absolute;
}

input[type="text"]::-webkit-input-placeholder {
    color: #fff;
}

.bg-gray-1 {
    background-color: #EFEFEF;
}

.bg-gray-2 {
    background-color: #333333;
}

.bg-gray-3 {
    background-color: #E5E5E5;
}

.border-radius-20 {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}