@media only screen and (max-width: 1280px) {
    .small {
        max-width: 897px;
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .search {
        
        padding-top: 0;
        margin: 6px 0 !important;
        max-width: 200px;
        float: right;
    }
    .bord {
        border: none;
    }

    .progress-grid .prg.actv .val {
        display: block;
        position: absolute;
        top: -65px;
        left: 34%;
        font-size: 3rem;
        font-weight: 800;
    }

    .infinit .t-inf-1 span {
        right: -90px;
        font-size: 1.5rem;
        top: 20px;
    }

    .infinit .t-inf-2 span {
        left: -90px;
        font-size: 1.5rem;
        top: 20px;
    }

    .three-col .box-low {
        width: 100%;
        text-align: center;
        display: block;
    }

    .text-section-five {
        text-align: left;
    }

    .graf {
        width: 100% !important;
        max-width: 100%;
        flex: auto;
    }

    .fig {
        width: 100%;
    }

    .grafico-coletivo {
        width: 100%;
    }

    .three {
        padding: 0 20px;
    }

    .header-grafico {
        width: 100%;
    }

    header {
        width: 100%;
        max-width: 900px;
    }

    .small {
        max-width: 670px;
        width: 100%;

        .header-content {


            img {
                max-width: 60px;
                margin: 5px;
            }
        }

        .innovation-header {
            font-size: 8px;
            padding: 0px 15px 0 15px
        }

        .innovation-header p {
            font-size: 12px;
        }
    }

    .innovation-header p {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    .header-content {

        flex-direction: initial;
        flex-wrap: initial;

        img {
            max-width: 80px;
            margin: 5px;
        }
    }

    .box-header {
        padding: 10px 0px;
        margin: 0 5px;
    }

    .pontuacao-content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;



        .score-section-one {
            width: 110px;
            height: 120px;
            padding: 0 15px 0 15px;
            text-transform: uppercase;
            font-size: 60px;

        }
    }

    .peaple-header span:nth-child(2) {

        padding: 0 22px 0 5px;
    }

    .flow-header {
        padding: 0 0 0 15px;
    }

    .innovation-header {

        padding: 5px 10px 0 10px;
    }

    .peaple-header span:nth-child(2) {
        padding: 0 15px 0 5px;
    }

    .flow-header span:nth-child(2) {

        padding: 0 8px 0 8px;
    }

    div.jcc {
        flex-direction: initial;
    }

    .fcw p {
        color: #fff;
        margin: 0;
        text-align: center;
        line-height: 22px;
        font-size: 12px;
        padding-left: 0;
    }

    .box-bottom-1 {
        // min-height: 380px;
    }

    .third-header h2 {
        font-size: 22px;
        padding: 15px 0;
    }

    .box-1 {
        padding: 30px 10px;

        p {
            font-size: 16px !important;
        }
    }
}

@media only screen and (min-width: 990px) {
    #sidebarCollapse {
        display: none;
    }
}

@media only screen and (max-width: 990px) {

    section.box-black .title-grafics {
        font-size: 16px;

    }

    .boxb .box{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        align-content: center;
        align-items: center;
        .cols {
            min-height: 260px;
        }

        p {
            min-height: 160px;
            text-align: left;
        }
    }

    section.box-black .section-text {      
        flex-direction: column;
        padding: 15px 2% 0 2%;
    }
    #sidebarCollapse {
        position: fixed;
        top: 5px;
    }

    #sidebarCollapse {
        background: #e5e5e5;
        cursor: pointer;
        border: 1px solid #ccc;
    }

    .header-content {
        margin-top: 40px;
    }

    .progress-grid .prg p {
        font-size: 10px;
    }

    .progress-grid .prg .c_bar {
        font-size: 8px;
    }

    .fechar-menu {
        display: block;
    }

    .sidebar_r {
        position: fixed;
        left: 0;
        z-index: 999;

    }

    .sidebar_r ul.list-unstyled.components {
        padding: 10px 0;
    }

    .sidebar_r .sidebar-header {
        padding: 30px 20px;
    }

    #sidebar.active {
        position: absolute;
        z-index: 999;
    }

    .three-col .text-section-five {
        width: 50%;
        text-align: left;
    }

    .three-col .box-low {
        width: 100%;
        margin-top: 0;
    }

    .third-header h2 {
        font-size: 22px;
        padding: 10px 0;
    }

    #sidebar.active {
        position: fixed;
        z-index: 1200;
        height: 100%;
        overflow: auto;
    }
    .box-black-one {
        margin:0 ;
    }
}

@media only screen and (max-width: 768px) {

    .box-black-one {
        margin:20px 0 0 0;
    }
    .boxb .box {
        padding: 40px 20px 40px 20px;
    
    }

    .boxb .container-center {
        letter-spacing: 2px;
        max-width: 220px;
        top: 34px;
    }

    .boxb .box .cols {
        padding-bottom: 50px;
        min-height: auto;
    }
    section.box-black .container-text {   
        flex-direction: column;
        p{
            padding: 0 15px;
        }
    }

    section.box-black .background-grafics {    
        width: 100%;      
    }

    section.box-black .section-text {
        width: 100%;
    }
    .barras .percent {
     
        font-size: 1rem;
    }

    .barras .lb-prog {
        width: 42%;
        font-size: 9px;
        text-align: left;
        line-height: 14px;
    }
    .barras .progress {  
        width: 40%;
    }

    .barras .percent {
        width: 20%;
    }

    .arce {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
    }

    .progress-grid .bdr {
        border: none;
    }

    .titulo h2 {
        font-size: 1.2rem;
        font-weight: 700;
        padding: 10px 0;
    }

    .main-header {
        display: flex;
        align-items: center;
        height: auto;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .header-content {
        margin-top: 10px;
    }

    #sidebarCollapse {
        background: #e5e5e5;
        cursor: pointer;
        border: 0;
        position: relative;
        top: 0;
    }


    .progress-grid {
        margin-top: 50px;
    }

    .p-cst {
        padding: 20px 15px 0 15px;
    }


    .progress-grid .prg.actv .val {
        top: -38px;
        left: 38%;
        font-size: 1.5rem;
    }

    .infinit {
        margin: 0 20px;
    }

    .infinit h5 {
        font-size: 1rem;
    }

    .infinit .t-inf-1 span {
        right: -55px;
        font-size: 1rem;
        top: 28px;
    }

    .infinit .t-inf-2 span {
        left: -55px;
        font-size: 1rem;
        top: 28px;
    }

    .mghome {
        margin-top: 3rem !important;
    }


    header.small {
        position: relative;
    }

    .section {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .third-header h2 {
        font-size: 20px;
    }

    .three-col>div {
        width: 100%;
    }

    .three-col .text-section-five {
        width: 100%;
        text-align: left;
        border: none;
    }


    .seta {
        display: none;
    }

    .flow {
        width: 80%;
    }

    div.jcc {
        flex-direction: column;
    }

    .header-grafico {
        margin-top: 10%;
    }

    div.bb-top {
        margin-top: 20px;
    }

    article.third-header h2 {
        padding: 30px 0 0 0;
    }

    .pontuacao-content {
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: stretch;

        .score-section-one {
            width: 170px;
            height: 133px;
            padding: 0 22px 0 22px;
            font-size: 80px;
            font-weight: 700;

        }
    }

    .box-header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }

    .innovation-header {
        font-size: 7px;
        padding: 5px 8px 0 8px;
    }

    .score-header {

        font-size: 15px;
        padding: 0;
        line-height: 60%;
        margin: 4px;
    }

    .score-header {
        color: var(--primary-font-color);
        font-size: 16px;
        padding: 0;
        margin: 4px;
        text-align: center;
        padding: 0 !important;
    }

    .header-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }



    .flow-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 8px;
        padding: 0 0 0 10px;
        flex-wrap: wrap;
        align-content: stretch;
    }

    .flow-header span:nth-child(2) {
        font-size: 20px;
        padding: 3px 10px 0 5px;
    }

    .score-header p {
        font-size: 8px;
        padding: 0;
        display: contents;

    }

    .peaple-header {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        padding: 0 0 0 0px;
        flex-wrap: wrap;
    }

    div.maturidade {
        flex-direction: column;
        margin-top: 10%;
    }

    div.margem-maturidade {
        margin: 0 0 15px 0;
    }

    article.second-header h2 {
        padding: 10px;
    }

    article.second-header {
        margin: 5%;
    }

    .progress-grid {
        width: 100%;
        flex-direction: column;
    }

    .progress-grid .prg .c_bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        width: 100%;
        text-align: center;
    }

    .progress-grid .prg p {
        font-size: 10px;
        width: 100%;
    }

    .progress-grid .prg {
        display: flex;
        width: 100%;
        align-content: center;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .progress-grid .prg .c_bar {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        width: 100%;
        text-align: center;
    }

    .progress-grid .prg .flue,
    .progress-grid .prg .basic {
        border-radius: 0;
    }

    .progress-grid .prg.actv .val {
        left: 44%;
    }
    .background-grafics {
             flex-direction: column;
    }
    section.sec-peaple .container-text, .grafics{
        width: 100%;
    }

    .head-section .titulo {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .head-section .subtitulo {
        font-size: 12px;
        letter-spacing: 2px;
    }

    
    .boxer4 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .boxer4 .txt-percent {  
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        border-right: 2px solid var(--gray-500);
        width: 50%;
        &:nth-child(2) {
            border-right: 0;
        }
    }

    .boxer4 .txt-percent p {
        font-size: 36px;
        font-weight: 800;
    }

    .boxer4 .txt-percent h4 {
        font-size: 12px;
    }

}

@media only screen and (max-width: 500px) {
    .logout {
        display: none;
    }

    .fechar-h,
    .bt-data {
        display: block;
    }

    // header {
    //     position: fixed;
    // }
    .header-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        position: fixed;
        max-width: calc(100% - 50px);
        z-index: 998;
        background: var(--black-200);
        left: -100%;
        transition: 0.5s all ease-in-out;
        top: 70px;

        &.act {
            left: 26px;
            transition: 0.5s all ease-in-out;

        }

        .box-header {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;
            margin: 5px 0;
            width: 48%;

        }

        img {
            margin: 10px;
        }
    }

    header {
        width: 100%;
        max-width: 900px;
        background: #e5e5e5;
        padding: 10px;
        border-radius: 15px;
    }


}

@media only screen and (max-width: 500px) {

    .boxer1 h2 span {
    
        margin-right: 40px;
    }
    .boxer1 .barra-p .progress {
        width: 80%;       
    }
    .boxer1 .barra-p .percent {
        width: 20%;
    }
    .boxer2 .txt-percent p {
        font-size: 36px;
       }
       .boxer2 .txt-percent h4 {
        font-size: 12px;
       }

    .barras .lb-prog {
        width: 30%;
        font-size: 10px;
    }

    .barras .progress {
        width: 50%;
    }

    .outer.brs {
        display: flex;
        flex-direction: column;
        padding: 15px;
    }

    .grupo-barras, .img-gr {
        width: 100%;
    }

    .card .title {
        font-size: 11px;
        top: 20px;
        text-align: left;
        display: block;
    }

    .img-gr {
        width: 100%;
    }


    .card .card-body p {
        font-size: 11px;
          text-align: left;
    }
    .score-header {
        font-size: 20px;
    }
        
    .innovation-header {
        font-size: 9px;
       
    }

    .arce {
        width: 50%;
        img {
            position: relative;
    right: 30px;
    top: -10px;
    width: 100%
        }
    }


    .logout {
        display: none;
    }

    .fechar-h { 
        right: 4px;
        top: -18px;    
        font-size: 3.2rem;
      
    }

    .logout-mob {
        display: flex;
        img {
            max-width: 25px !important;
            position: relative;
            top: -26px;
            right: -10px
        }
    }

    .infinit {
        flex-direction: column;
        align-items: center;
        display: flex;
        align-content: center;
    }

    .infinit .t-inf-1 h5 {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .infinit .t-inf-2 h5 {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .infinit .t-inf-1 span,
    .infinit .t-inf-2 span {
        position: relative;
        right: 0;
        font-size: 2rem;
        font-weight: 800;
        top: 0;
        left: 0;
    }

    .infinit .t-inf-1,
    .infinit .t-inf-2 {
        justify-content: flex-end;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;

    }

    .infinit .inf {
        width: 100%;
        justify-content: flex-end;
    }

    .small .header-content img {
        max-width: 70px;
        margin: 10px 0 9px 0;
    }

    header {
   
        padding: 10px;
        border-radius: 0;
        position: fixed;
        left: 0;
        top: 0;
    }
    body {
        padding-top: 60px;
    }

    .titulo h2 span {
        font-size:14px;
    }

    .boxb .box p.mh-300, .boxb .box p.mh-250 {
         min-height: auto;
    }
}

@media only screen and (max-width: 400px) {

    section.sec-peaple {
     
        width: 100%;
    }

    .barras .lb-prog {
        width: 35%;
        font-size: 11px;
    }

    .barras .progress {
        width: 45%;
    }

    .pontuacao-content {
        display: flex;
        padding-top: 15px;
        align-items: center;
        justify-content: flex-end;
        align-content: space-around;
        flex-direction: column;
    }

    .score-level-section-one {
        text-transform: uppercase;
        font-size: 35px;
        font-weight: 700;
        padding-top: 7px;
        text-align: center;
    }

}