/* Principal */
.section {
    background-color: #EFEFEF;
    border-radius: 20px;
    padding-bottom: 40px;
    margin-bottom: 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding-top: 34px;
    align-items: flex-end;
}

.pontuacao-content {
    display: flex;

    padding-top: 15px;
}


.infinito-score {
    content: var(--infinito-score);
    width: 400px;
    margin-bottom: -100px;
}

.grafico-coletivo {
    content: var(--grafico-coletivo);
}

.logo-name {
    content: var(--logo-name);
}

.mr70 {
    margin-right: 70px;
}

.score-level-section-one {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    padding-top: 7px;
}

.container-text {
    display: flex;
    justify-content: center;
    padding: 0 40px 0 40px;
    align-items: center;
    margin-top: 50px;
}

.score-section-one {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-radius: 20px;
    width: 170px;
    height: 133px;
    padding: 0 22px 0 22px;
    margin-left: 72px;
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.score-section-one span {
    margin-top: 19px;
    line-height: 68px;
}

.score-section-one p {
    font-size: 17px;
    color: #000;
    font-weight: 600;
}

.header-text-section-one {

    text-transform: uppercase;
    border-bottom: 1px solid #000;
    width: 500px;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 0 10px 0;
    margin-bottom: 10px;
}

.title-text-section-one {
    color: #000;
    text-transform: uppercase;
    font-size: 0.80rem;
    font-weight: 700;
    padding-top: 7px;
    margin-bottom: 0;
}

.text-section-one {
    color: #000;
    padding-bottom: 10px;
    font-size: 85%;
    font-weight: 500;
    padding-top: 7px;
}

/*Maturidade*/

.second-header h2 {
    font-size: 25PX;
    font-weight: 600;
    padding: 35px;
    text-align: center;
}

.maturidade {
    display: flex;
    flex-direction: row;
    font-size: 20PX;
    padding-bottom: 16px;
    font-weight: 700;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.line {
    border-bottom: 1px solid;
}

.header-text-section-five {
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
    padding: 7px 0 10px 0;
    margin-bottom: 28px;
}

.areas {
    width: 250px;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    padding: 4px 0 4px 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.fluente p {
    color: var(--fluente-color);
    font-size: 14px;
    font-weight: 700;
}

.fluente .areas {
    background-color: var(--fluente-color);
    color: #fff;
}

.avancado p {
    color: var(--avancado-color);
    font-size: 14px;
    font-weight: 700;
}

.avancado .areas {
    background-color: var(--avancado-color);
    color: #fff;
}

.intermediario p {
    color: var(--intermediario-color);
    font-size: 14px;
    font-weight: 700;
}

.intermediario .areas {
    background-color: var(--intermediario-color);
    color: #000;
    font-weight: 700;
}

.basico p {
    color: var(--basico-color);
    font-size: 14px;
    font-weight: 700;
}

.basico .areas {
    background-color: var(--basico-color);
    color: #fff;
}

.margem-maturidade {
    margin: 18px 0 0 0;
}

.two {
    background-color: #CECBCB;
    display: flex;
    margin-top: 30px;
    align-content: stretch;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;

}

.three {
    background-color: #EFEFEF;
}

.five {
    background-color: #333333;
    padding: 30px;
}

.six {
    background: #fff;
    display: flex;
    gap: 30px;
    margin-bottom: 0;
    padding-bottom: 0
}

.seven {
    background-color: #fff;
    display: flex;
    gap: 40px;
}

.duvidas {
    width: 49%;
}

.box-low {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.innopedia {
    content: var(--innpedia);
}

.box-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Graficos*/

.third-header h2 {
    font-size: 30PX;
    font-weight: 700;
    padding: 35px;
    color: var(--pessoas-font-color);
    text-align: center;
}

.flex {
    display: flex;
}

.w50 {
    width: 50%;
}

.w90 {
    width: 90%;
}

.h410 {
    height: 410px;
}

.w488 {
    width: 488px;
}

.h64 {
    height: 64%;
}

.jcc {
    justify-content: center;
}

.jcse {
    justify-content: space-evenly;
}

.jcsa {
    justify-content: space-around;
}

.jcsb {
    justify-content: space-between;
}

.jcfend {
    justify-content: flex-end;
}

.acc {
    align-content: center;
}

.aic {
    align-items: center;
}

.fdcol {
    flex-direction: column;
}

.mb40 {
    margin-bottom: 40px;
}

.mb25 {
    margin-bottom: 35px;
}

.mt20 {
    margin-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.mb57 {
    margin-bottom: 57px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb12 {
    margin-bottom: 12px;
}

.plat40 {
    padding: 0 40px 0 40px;
}

.mr10 {
    margin-right: 10px;
}

.m-lat5 {
    margin: 0 5px 0 5px;
}

.fs25 {
    font-size: 25px;
}

.fs20 {
    font-size: 20px;
}

.fs16 {
    font-size: 16px;
}

.fs15 {
    font-size: 15px;
}

.fcw {
    p {
        color: #fff;
        margin: 0;
        text-align: left;
        padding-left: 15px;
    }

}

.fcb {
    color: #000;
}

.space {
    gap: 7px;
}

.bb-top {
    background-color: #DDDBDB;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.box-top-1 {
    padding: 25px 10px 0 10px;
}

.box-top-2 {
    padding: 38px 16px 0 16px;
}

.bb-bottom {
    background-color: #E5E5E5;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.box-bottom-1 {
    padding: 14px 10px 14px 10px;
    width: 100%;
}

.box-bottom-2 {
    padding: 14px 10px 14px 10px;
}

.box-bottom-3 {
    padding: 43px 10px 24px 25px;
}

.bb-full {
    padding: 0px 10px 10px 10px;
}

.header-meia-pizza {
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;

    p {
        margin-bottom: 0;
    }
}

.header-meia-pizza-2 {
    text-align: center;
    font-size: 12px;
    padding-bottom: 38px;
}

.meia-pizza {
    padding: 0 14PX 0 14PX;

    figure {
        margin-bottom: 0;
    }

    figure img {
        width: 100%;
        margin: 5px 0;
    }
}

.score-meia-pizza {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.header-grafico {
    font-size: 12px;
    padding-bottom: 5px;
}

/*Flow*/

.flow {
    padding: 10px;
    div {
    padding: 5px;
    }
}

.bb-top {
    background-color: #DDDBDB;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.box-top-1 {
    padding: 25px 10px 0 10px;
}

.box-top-2 {
    padding: 38px 16px 0 16px;
}

.bb-bottom {
    background-color: #E5E5E5;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.box-bottom-1 {
    padding: 14px 10px 14px 10px;
}

.box-bottom-2 {
    padding: 14px 10px 14px 10px;
}

.box-bottom-3 {
    padding: 43px 10px 24px 25px;
}

.bb-full {
    padding: 0px 10px 15px 10px;
}

.header-meia-pizza {
    text-align: center;
    font-size: 12px;
    padding-bottom: 15px;
}

.header-meia-pizza-2 {
    text-align: center;
    font-size: 12px;
    padding-bottom: 38px;
}

.meia-pizza {
    padding: 0 14PX 0 14PX;
}

.score-meia-pizza {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.align {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.text-flex {
    text-align: center;
}

.seta {
    position: absolute;
    top: 32px;
    right: -22px;
    z-index: 99;
}

.p1 {
    left: 24.80%;
}

.p2 {
    left: 48.10%;
}

.p3 {
    left: 71.70%;
}

.relative {
    position: relative;
}

.three-col {
    display: flex;
    flex-wrap: wrap;

    .text-section-five {
        width: 35%;
    }
}

.container-low {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.three-col>div {
    flex-grow: 1;
    width: 0;
}


.text-section-five {
    color: var(--primary-font-color);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px 0 25px;
}

.text-section-five p {
    color: #fff;
    font-size: 14px;
    text-transform: none;
    padding: 3px 0 0 0;
    margin: 0;
}

.border {
    border-right: 1px solid #999999;
}



.data {
    content: var(--data);
}

.increasing {
    content: var(--increasing);
}

#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
}

.chart-box {
    padding-top: unset !important;
    padding-left: unset !important;
    background: unset !important;
    border: unset !important;
    box-shadow: unset !important;
}

.analise {
    padding-top: 10px;
    padding-bottom: 10px;
}

.confi {
    padding-top: 10px;
    padding-bottom: 10px;
}

.center {
    display: flex;
    justify-content: center;
}




@media screen and (max-width: 1200px) {

    /*principal*/
    .main-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        margin: 40px;
        align-items: center;
        gap: 20px;
    }

    .innovation-title {
        max-width: 400px;
        display: flex;
    }

    .score-level-section-one p {
        color: var(--primary-font-color);
        font-size: 35px;
        font-weight: 700;
        padding-top: 7px;
        display: flex;
    }

    .logo-name {
        width: 300px;
    }

    .text-flex {
        display: inline-block;
    }

    .infinito-score {
        display: none;
    }

    .ml19 {
        align-self: center;
    }

    .container-text {
        padding: 0;
        margin: 0;
    }

    .header-text-section-one {
        width: auto;
    }

    .score-section-one {
        margin-left: 0;
    }

    .text-section-one {
        margin-right: 0;
    }

    /*Maturidade*/
    .maturidade {
        display: flex;
        text-align: center;
        align-self: center;
    }

    .second-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10%;
    }

    .flex {
        flex-direction: column;
        align-self: center;
        text-align: center;
    }

    /*Pessoas*/
    .header-meia-pizza div {
        margin-top: 50px;

    }

    .p1 {
        left: 190px;
        display: none;
    }

    .p2 {
        left: 551px;
        display: none;
    }

    .p3 {
        left: 790px;
        display: none;
    }

    .bb-top {
        margin-top: 0;
    }

    .mtb20 {
        margin: 20px 0 20px 0;
    }

    /*Recomendações*/
    .three-col>div {

        margin-top: 30px;

    }

    .three-col {
        display: flex;
        text-align: center;
    }

    /*Duvidas*/
    .duvidas {
        width: 100%;
    }

    .innopedia {
        width: 200px;
    }

    /*Vetores*/
    .vetor {
        width: 100%;
        text-align: center;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .box-flex p {
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }

    .h410 {
        height: 100%;
    }

    /*Analise*/
    .analise {
        width: 100%;
        padding: 30px;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    /*Confiabilidade*/
    .confi {
        width: 100%;
        padding: 30px;
    }

    /*Recomendações*/
    .container-intro button {
        display: none;

    }

    .jcc {
        align-self: center;
        flex-wrap: wrap;
        flex-direction: initial;
    }

    .title-reco {
        font-size: 30px;
        display: flex;
        align-items: center;
    }

}

.home {
    background: var(--gray-200);

}

.home-2 {
    background: var(--gray-600);
}

.rounded-3 {
    border-radius: 20px;
}

.log-home {
    background: var(--gray-400);
}

.txt-inf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 12%;

    h3 {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        width: 40%;
        color: var(--primary-font-color);

        &:first-child {
            color: var(--pessoas-font-color);
        }
    }
}

.graf {
    padding: 0 10px;
}

.bord {
    border-left: 1px solid var(--primary-font-color);
}

.box-1 {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    justify-content: center;
    line-height: 30px;

    img {
        margin: 20px;
    }
}

.mghome {
    margin-top: 165px !important;
}

.innovation-title {
    margin: 0;
    text-align: center;
}

.p-cst {
    padding: 20px;
}

.progress-grid {
    width: 100%;
    display: flex;
    margin-top: 9%;

    .step1 {
        .val {
            color: var(--red);
        }

        &:before {
            border-bottom: 10px solid var(--red);
        }

        hr {
            border: 2px solid var(--red);
        }
    }

    .step2 {
        .val {
            color: var(--yellow);
        }

        &:before {
            border-bottom: 10px solid var(--yellow);
        }

        hr {
            border: 2px solid var(--yellow);
        }
    }

    .step3 {
        .val {
            color: var(--green);
        }

        &:before {
            border-bottom: 10px solid var(--green);
        }

        hr {
            border: 2px solid var(--green);
        }
    }

    .step4 {
        .val {
            color: var(--blue);
        }

        &:before {
            border-bottom: 10px solid var(--blue);
        }

        hr {
            border: 2px solid var(--blue);
        }
    }

    .bdr {
        &:first-child {
            border-left: none;
        }

        border-left: 1px solid #E4E4E4;
    }

    .prg {
        display: flex;
        width: 25%;
        align-content: center;
        flex-direction: column;
        text-align: center;

        hr {
            max-width: 100px;
            width: 100%;
            margin: 10px auto 20px auto;
        }

        .val {
            display: none;
        }

        .c_bar {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white);
            padding: 8px;
            font-weight: 800;
        }

        .basic {
            background: var(--red);
            border-radius: 20px 0 0 20px;

        }

        .inter {
            background: var(--yellow);

        }

        .avanc {
            background: var(--green);

        }

        .flue {
            background: var(--blue);
            border-radius: 0 20px 20px 0px;

            .val {
                color: var(--blue);
            }
        }

        p {
            text-align: center;
        }

        &.actv {
            &:before {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                margin: -8px 0 0 0px;
                left: 45%;
            }

            position: relative;

            .val {
                display: block;
                position: absolute;
                top: -85px;
                left: 34%;
                font-size: 4rem;
                font-weight: 800;
            }
        }
    }
}

.infinit {
    width: 100%;
    width: 100%;
    padding: 20px;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    display: flex;

    .inf {
        display: flex;
        width: 50%;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .t-inf-1 {
        display: flex;
        width: 25%;
        justify-content: flex-end;
        position: relative;
        margin-right: -15px;

        span {
            position: absolute;
            right: -140px;
            font-size: 2rem;
            font-weight: 800;
            top: 12px;
        }

        h5 {
            color: var(--primary-font-color);
            font-weight: 800;
            border-bottom: 1px solid var(--primary-font-color);
            width: 150px;
            text-align: center;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .t-inf-2 {
        display: flex;
        width: 25%;
        justify-content: flex-start;
        position: relative;
        margin-left: -15px;

        span {
            position: absolute;
            left: -140px;
            font-size: 2rem;
            font-weight: 800;
            top: 12px;
        }

        h5 {
            color: var(--primary-font-color);
            font-weight: 800;
            border-bottom: 1px solid var(--primary-font-color);
            width: 150px;
            text-align: center;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}

.psec {
    font-size: 12px;
    font-weight: 500;

    span {
        color: var(--green);
        font-weight: 800;
    }
}

.text-infinty {
    max-width: 700px;
    margin: 10px auto 40px auto;
    padding: 0 15px 0 25px;
    border-left:1px solid var(--primary-font-color);

    p {
        color: var(--gray-txt);
        strong.csss {
            color: var(--primary-font-color);
         
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.titulo {
    width: 100%;
    text-align: center;

    h2 {
        font-size: 30PX;
        font-weight: 700;
        padding: 35px;
        text-transform: uppercase;

        span {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: normal;
        }
    }
}

.progress {
    border-radius: 1.25rem;
}

.logout-mob {
    display: none;
}

.card {
    background: none;
    border: none;
    max-width: 750px;
    margin: 0 auto;
    width: 100%;

    .card-body {
        padding-left: 90px;

        h2 {
            font-size: 21px;
            text-transform: uppercase;
            text-transform: uppercase;
            color: var(--primary-font-color);
            font-weight: 800;
        }

        p {
            font-size: 14px;
            color: var(--black-800);
        }
    }

    hr {
        border: 1px solid var(--primary-font-color)
    }

    .card-header {
        background: none;
        border: none;
    }

    .frs {
        color: var(--primary-font-color);
        font-size: 3rem;
        font-weight: 800;
        float: left;
    }

    .title {
        font-weight: 800;
        font-size: 14px;
        position: relative;
        top: 20px;
    }

    .setas {
        margin: 10px 20px;
        position: relative;
        font-size: 36px;
        /* top: -8px; */
        color: #ccc;
        letter-spacing: -4px;
        float: left;
    }
}

.green-tit {
    color: var(--primary-font-color);
}

.moonshots {
    display: flex;
    flex-wrap: wrap;
    max-width: 810px;
    margin: 20px auto;

    p {
        color: var(--black-800);
    }

    .header-text-section-five {
        color: var(--primary-font-color);

    }
}


.card-header {
    .neg {
        display: none;
    }

    .pos {
        display: block;
    }
}

.collapsed {
    .pos {
        display: none;
    }

    .neg {
        display: block;
    }
}

.pos,
.neg {
    position: absolute;
    right: -15px;
    top: 15px;
}

.box-vetor {
    padding: 15px;
    margin: 15px;
    background: var(--gray-200);
}

section.intra {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background: var(--gray-400);
}

.boxer-content {
    margin: 20px 0;
}

.boxer1 {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    h2 {
        font-size: 20px;
        margin: 15px 0;
        width: 100%;
        font-weight: 800;

        span {
            font-size: 12px;
            float: right;
            margin-right: 70px;
            position: relative;
            top: 10px;
            font-weight: normal;
        }
    }

    &.b-color2 {
        background: var(--gray-200);
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

    display: flex;
    flex-direction: column;
    background: var(--gray-500);
    padding: 30px;

    .barra-p {
        width: 100%;
        display: flex;

        .progress {
            width: 92%;
            display: flex;
            height: 25px;
            background-color: var(--white);
        }

        .percent {
            display: flex;
            width: 8%;
            text-align: center;
            font-size: 18px;
            font-weight: 800;
            align-items: center;
            justify-content: center;
            line-height: 15px;
        }
    }

    p {
        color: var(--black-800);
        margin: 20px 0 0 0;
    }
}

.boxer2 {

    display: flex;

    background: var(--gray-200);
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;

    .txt-percent {
        display: flex;
        width: 50%;
        padding: 0 30px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;

        &:first-child {
            border-right: 2px solid var(--gray-500);
        }

        h4 {
            font-size: 14px;
            font-weight: 800;
            text-align: center;
            margin-bottom: 0;
        }

        p {
            font-size: 50px;
            font-weight: 800;

            &.blu {
                color: var(--blue)
            }

            &.gre {
                color: var(--green-0)
            }

            &.yel {
                color: var(--yellow)
            }
        }
    }

}

.boxer4 {
    display: flex;

    background: var(--gray-200);
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;

    .txt-percent {
        display: flex;
        width: 25%;
        padding: 0 15px;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        border-right: 2px solid var(--gray-500);
        &:last-child {
            border-right: 0;
        }

        h4 {
            font-size: 14px;
            font-weight: 800;
            text-align: center;
            margin-bottom: 0;
        }

        p {
            font-size: 50px;
            font-weight: 800;

            &.blu {
                color: var(--blue)
            }

            &.gre {
                color: var(--green-0)
            }

            &.yel {
                color: var(--yellow)
            }
        }
    }
}

.dia {
    display: flex;
    flex-direction: column;
    .content-gray {
        padding: 30px;
        background-color: #E5E5E5;
        margin-bottom: 40px;
        border-radius: 20px;
        -webkit-border-radius: 20px 20px 0 0;
        -moz-border-radius: 20px 20px 0 0;
        -ms-border-radius: 20px 20px 0 0;
        -o-border-radius: 20px 20px 0 0;
        h2{
            text-align: center;
            font-size: 30px;
            font-weight: 800;
        }
        p{
            text-align: center;
        }
    }

    .content-pizza{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .grafic-pizza {
            display: flex;
            width: 50%;
            justify-content: center;
            img{
                max-width: 260px;
            }
        }

        .dna-list {
            display: block;
            width: 50%;
            justify-content: flex-start;
            p{
                width: 100%;
                margin-top: 10px;
                font-size: 16px;
            }
            ul{
                float: left;              
                width: 40%;
                justify-content: center;
                flex-direction: column;
                li{
                    list-style-type: none;
                    margin: 12px 0;
                    font-size: 13px;
                    span{
                        width: 14px;
                        height: 14px;
                        display: inline-flex;
                    }
                    .blu {
                        background:#4999D4;
                    }
                    .blue-2 {
                        background:#61C5BD;
                    }
                    .green {
                        background:#73BF44;
                    }
                    .yellow {
                        background:#EFB42F;
                    }
                    .red {
                        background:#F26552;
                    }
                    .ros {
                        background:#EC60A3;
                    }
                    .blu-e {
                        background:#03629A;
                    }
                    .green-2 {
                        background:#128B7C;
                    }
                }
            }
        }
    }

    .txt-pizza {
        margin: 30px 30px 0 30px;
        padding: 30px 30px 0 30px;
    }

    .div-charts {
        width: 100%;
        margin: 30px 0;
        padding: 40px;
        border-radius: 20px;
        background: #fff;
    }
    .wg {
        max-width:610px;
        margin: 0 auto;
    }
}

.txt-inno {
    .title-text-section-one {   
        font-size: 20px;
        span {
            color: var(--primary-font-color) ;
        }
 
    }

    .text-section-one {    
        font-size: 16px;
        font-weight: normal;    
    }
}

.txt-confi {
    .container-text {
        margin-top: 0;
    }
    h3{
        font-weight: 800;
        margin: 10px 0;
        font-size: 20px;
    }
    .title-text-section-one {   
        font-size: 20px;
        text-transform: initial;
        span {
            color: var(--primary-font-color) ;
        }
        &.fmin {
            font-size: 16px;
        }
 
    }

    .text-section-one {    
        font-size: 16px;
        font-weight: normal;  
    }
}



.inno-img {
    padding: 15px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


.content-table {
    padding: 30px;

}

.tables {
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px 10px;

    h2{
        font-size: 20px;
        font-weight: 600;
        margin: 10px 0 30px 0;
    }

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
   
    
    &.tdc {
        background: var(--primary-font-color);
        font-weight: 800;
    }
  }
  #customers th:first-child {
    padding: 5px 0 5px 15px;
    text-align: left;
  }
  #customers td {
      font-size: 13px;
      padding: 6px 6px 6px 15px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {

    text-align: center;
    background-color: var(--primary-font-color);
    color: white;
  }
}

.ic1 {
    position: relative;
    left: 15px
}

.own-report  {
    .ic, .ic1  {  
        &.own{
            display: inline-block;
        }
    }
}

.partner-report {
    .ic, .ic1 {  
        &.inno{
            display: inline-block;
        }
    }
}

.ic {
    position: relative;
    right: 10px;
  
}

.span-bl {
    color: white !important;
}